body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 380px;
    text-align: center;
}

input {
    margin: 10px 0;
}

button {
    background: #38bdf8;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #0ea5e9;
}

ul {
    text-align: left;
    padding: 0;
    list-style: none;
}

li {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    padding: 4px 8px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 12px;
    margin-left: 5px;
}

.view {
    background: #22c55e;
    color: white;
}

.download {
    background: #f97316;
    color: white;
}
