<!DOCTYPE html>
<html>
<head>
    <title>Upload & Download File</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="box">
        <h2>File Upload System</h2>

        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Upload</button>
        </form>

        <h3>Daftar File:</h3>

        <ul>
            {% for file in files %}
                <li>
                    <span>{{ file }}</span>

                    <!-- VIEW -->
                    <a class="btn view" href="/uploads/{{ file }}" target="_blank">View</a>

                    <!-- DOWNLOAD -->
                    <a class="btn download" href="/download/{{ file }}">Download</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
